---
import BaseLayout from "../Layouts/BaseLayout.astro"
import BlogPost from "../components/Blogpost.astro";
const allPosts = await Astro.glob("../pages/posts/*.md")
const pageTitle = "My Blog"
---

<BaseLayout pageTitle={pageTitle}>
	<h2>This is my awesome blog</h2>
	<p>its pretty incredible how linking pages and creating a blog is so easy with astro.</p>
	<p>Never would have thought that just simple a tags can be made into a nav</p>
	<ul>
			{allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
	</ul>
</BaseLayout>
