<a href='/'>Home</a>
<a href='/about/'>About</a>
<a href='/blog/'>Blog</a>

<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='viewport' content='width=device-width' />
		<meta name='generator' />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<h1>Blog Page</h1>
		<p>its pretty incredible how linking pages and creating a blog is so easy with astro.</p>
		<p>Never would have thought that just simple a tags can be made into a nav</p>
	</body>
</html>
